node_modules/
dist/
*/dist
.env
.env.local
*.log

# Secrets
infra/docker/secrets/

# Env: dev/.env.dev, test/.env.test, prod/.env.prod
infra/docker/dev/.env.dev
infra/docker/test/.env.test
infra/docker/prod/.env.prod
